<p>Style Example</p>

<h1>Titulo de la pagina</h1>
<p id="myP">Descripción de la pagina</p>
<button>Botón principal</button>

<!--
<div style="background-color: blue; text-transform: uppercase;">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button>Boton</button>
</div>
-->

<!--
<div class="my-class class1">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button>Boton</button>
</div>
-->
<!--
<div>
  <p [style.color]="textColor" [style.text-decoration]="textDecoration">Texto de prueba</p>
  <!--
  [style.textDecoration]="textDecoration">Texto de prueba</p>
  -->
  <!--
  <button (click)="cambiarStyle()">Ejecutar</button>
</div>
-->

<!--
<div>
  <p [style]="styles">Texto de prueba</p>
  <button (click)="cambiarStyle()">Ejecutar</button>
</div>
-->

<!--
<div [class.myClass1]="flag">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button (click)="cambiarClass()">Cambiar</button>
</div>
-->

<!--
<div [class]="classes">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button (click)="cambiarClass()">Cambiar</button>
</div>
-->

<!--
<div [ngStyle]="styles">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button (click)="cambiarStyle()">Cambiar</button>
</div>
-->

<!--
<div [ngClass]="flag ? 'myClass1' : 'myClass2 myClass3'">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button (click)="cambiarClass()">Cambiar</button>
</div>
-->

<div [ngClass]="classes">
  <h2>Titulo</h2>
  <p>Texto de prueba</p>
  <button (click)="cambiarClass()">Cambiar</button>
</div>
