<p>NGFor Example</p>
<!--
<ul>
  <li *ngFor="let name of names; count as cantidadRegistros">
    {{name}} de {{cantidadRegistros}} de registros
  </li>

  <li *ngFor="let name of names; index as i; first as primero; last as ultimo">
    {{name}} esta en el indice {{i}}
    Es el primero: {{primero}}
    Es el ultimo: {{ultimo}}
  </li>
-->
  <!--
    even
    odd
    count
  -->
<!--
</ul>

<ul>
  <ng-template ngFor let-name [ngForOf]="names">
    <li>{{name}}</li>
  </ng-template>

  <ng-template ngFor let-name [ngForOf]="names" let-ind="index" let-conteo="count">
    <li>{{name}} en posición {{ind}} de {{conteo}}</li>
  </ng-template>
</ul>
-->
<table>
  <thead>
    <td>ID</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons; index as i">
      <td>{{i}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.age}}</td>
    </tr>
  </tbody>
</table>

<button (click)="addPerson()">Agregar persona</button>
