<p>Example ngif</p>

<!--
<p>{{show ? "SI" : "NO"}}</p>
-->

<!--
<p>{{texto}}</p>
-->

<!--
<div *ngIf="show">
  <p>Mostrando texto TRUE</p>
</div>

<ng-template [ngIf]="show">
  <p>Mostrando texto TRUE 2</p>
</ng-template>
-->

<!--
<div *ngIf="show; else elseBlock">
  <p>1. Mostrando texto TRUE</p>
</div>
<ng-template #elseBlock>
  <p>2. Mostrando texto FALSE</p>
</ng-template>

<ng-template [ngIf]="show" [ngIfElse]="elseBlock2">
  <p>3. Mostrando texto TRUE</p>
</ng-template>
<ng-template #elseBlock2>
  <p>4. Mostrando texto FALSE</p>
</ng-template>

<button (click)="cambiarTexto()">Cambiar texto</button>

-->

<!--
<div *ngIf="texto as value">
  <p>{{texto}}</p>
</div>



<div *ngIf="texto as value; else blockElse">
  <p>{{texto}}</p>
</div>
<ng-template #blockElse>
  <p>Variable texto es undefined</p>
</ng-template>
-->

<div *ngIf="show">
  <app-if-inner-example></app-if-inner-example>
</div>

<!--
<div *ngIf="texto === 'Valor inicial'">
  <app-if-inner-example></app-if-inner-example>
  <p>Algo</p>
  <p>Anothe thing</p>
</div>
-->

<button (click)="cambiarTexto()">Cambiar texto</button>
