<form [formGroup]="form" (ngSubmit)="printValues()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" formControlName="email">
    <div class="alert alert-danger" *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
      <div *ngIf="form.controls['email'].errors?.['required']">El email es obligatorio</div>
      <div *ngIf="form.controls['email'].errors?.['minlength']">El email de tener mínimo 3 caracteres</div>
      <div *ngIf="form.controls['email'].errors?.['email']">Formato inválido</div>
      <div *ngIf="form.controls['email'].errors?.['pattern']">Formato de email inválido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" formControlName="password" maxlength="11">
    <div class="alert alert-danger" *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
      <div *ngIf="form.controls['password'].errors?.['required']">El password es obligatorio</div>
      <div *ngIf="form.controls['password'].errors?.['minlength']">El password de tener mínimo 3 caracteres</div>
      <div *ngIf="form.controls['password'].errors?.['maxlength']">El password de tener máximo 10 caracteres</div>
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <div class="alert alert-danger" *ngIf="form.controls['check'].invalid && (form.controls['check'].dirty || form.controls['check'].touched)">
      <div *ngIf="form.controls['check'].errors?.['required']">El email es obligatorio</div>
    </div>
  </div>
  <div class="form-group">
    <label for="tipoId">Tipo de identificación</label>
    <select id="tipoId" name="tipoId" class="form-select" formControlName="tipoId" aria-label="Default select example">
      <option value="" selected>Seleccione...</option>
      <option *ngFor="let tipoId of tiposId" [value]="tipoId.key" >{{tipoId.value}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="form.controls['tipoId'].invalid && (form.controls['tipoId'].dirty || form.controls['tipoId'].touched)">
      <div *ngIf="form.controls['tipoId'].errors?.['required']">El Tipo de ID es obligatorio</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>
