<p>Mostrando propiedades desde el componente externo {{primerNombre}} {{primerApellido}}</p>
<app-interno2 [firstName]="primerNombre" [lastName]="primerApellido"></app-interno2>
<button (click)="cambiarNombre()">Cambiar nommbre</button>
