<!--div [style.display]="show ? 'block' : 'none'"-->
<div [style.display]="display">
  <h1>Detalle de la persona {{person.firstName | uppercase}} {{person.lastName | uppercase}}</h1>
  <h2>Detalle de la persona 2 {{person.firstName.concat(" ", person.lastName) | lowercase}}</h2>
  <h2>Longitud del nombre: {{person.firstName.concat(" ", person.lastName).length}}</h2>
  <p>Edad: {{person.age}}</p>
  <p>Está estudiando? {{person.estudiando}} {{carreraIn}} en {{universidadIn}}</p>
  <!--button (click)="fijarDatosEstudio()">Asignar estudios</!button-->
  <div>
    <input id="carrera" name="carrera" placeholder="Ingrese la carrera" #carrera/>
    <input id="universidad" name="universidad" placeholder="Ingrese la universidad" #universidad/>
    <button (click)="fijarDatosEstudioVariables(carrera.value, universidad.value)">Actualizar datos de estudio</button>
  </div>
  <!--div>
    <input id="carrera" name="carrera" [(ngModel)]="carreraIn" placeholder="Ingrese la carrera"/>
    <input id="universidad" name="universidad" [(ngModel)]="universidadIn" placeholder="Ingrese la universidad" />
  </div-->
</div>
