<h1>Menú principal</h1>
<ul>
  <li>
    <a routerLink="/option1" routerLinkActive="active">Ir a opción 1</a>
  </li>
  <li>
    <a routerLink="/option2" routerLinkActive="active">Ir a opción 2</a>
  </li>
</ul>

<router-outlet></router-outlet>
