<form [formGroup]="form" (ngSubmit)="printValues()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" formControlName="email" [formControl]="emailControl">
    <div class="alert alert-danger" [hidden]="emailControl.valid || (emailControl.pristine && emailControl.untouched)">
      <div [hidden]="!emailControl.errors?.['required']">El email es obligatorio</div>
      <div [hidden]="!emailControl.errors?.['minlength']">El email de tener mínimo 3 caracteres</div>
      <div [hidden]="!emailControl.errors?.['email']">Formato inválido</div>
      <div [hidden]="!emailControl.errors?.['pattern']">Formato de email inválido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Password" formControlName="password" [formControl]="passwordControl" maxlength="11">
    <div class="alert alert-danger" [hidden]="passwordControl.valid || (passwordControl.pristine && passwordControl.untouched)">
      <div [hidden]="!passwordControl.errors?.['required']">El password es obligatorio</div>
      <div [hidden]="!passwordControl.errors?.['minlength']">El password de tener mínimo 3 caracteres</div>
      <div [hidden]="!passwordControl.errors?.['maxlength']">El password de tener máximo 10 caracteres</div>
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check" [formControl]="checkControl">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <div class="alert alert-danger" [hidden]="checkControl.valid || (checkControl.pristine && checkControl.untouched)">
      <div [hidden]="!checkControl.errors?.['required']">El email es obligatorio</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>
